<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<h1>商品詳細</h1>
<% @items.each do |item| %>

<h2>商品名</h2>
<p><%= item.name %></p>

<h2>商品説明</h2>
<p><%= item.introduction %></p>

<h2>ジャンル</h2>
<p><%= genre_path(genre_id) %></p>

<h2>画像</h2>
<% if item.image.attached? %>
  <%= image_tag item.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= f.submit '編集する', class: "btn btn-success" %>
<!--%<= link_to "編集する", edit_admin_item_path(items.id.edit) %>-->
<% end %>
